.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
:root{
    --primary-color: #4d5ae5;
}
.header-logo-blue {
    font-family: "Raleway", sans-serif;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform: uppercase;
}

.header-logo-span {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-align: left;
    line-height: 1.17;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
}

.header-menu-item {
    font-weight: 500;
    size: 16px;
    line-height: 150%;
    /* 24/16 */
}
.header-menu-item:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.list {
    list-style: none;
}

.offer-studio {
    font-weight: 500;
    size: 20;
    line-height: 120%;
    /* 24/20 */
    color: #2E2F42;
}

.header-nav {
    text-align: left;
}

.header-menu-link {
    color: #2E2F42;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-address-item {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-item:hover {
    color: #404bbf
}

.text {
    size: 16px;
    line-height: 24px;
    color: #434455;
    size: 16px;
    line-height: 133.333333%;
}

.offer-studio {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    /* 24/20 */
    letter-spacing: 0.02em;
    text-align: left;

}

.button-portfolio:hover {
    background: #404BBF;
    font: #FFFFFF;
    color: white;
    /* Text color when hovering */
}

.button-portfolio{
    color: #4D5AE5;
    font-size: 16 px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    background-color: #E7E9FC;
    border: none;
}

ul {
    list-style: none;
}

.footer{
    size: 16px;
        line-height: 24px;
        color: #F4F4FD;
        size: 16px;
        line-height: 133.333333%;
        background-color: #2E2F42;
}
.footer-logo-one{
    background-color: #2E2F42;
    line-height: 24px;
    color:#4D5AE5;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase 
}

.footer-logo-two{
    color: #f4f4fd;
font-family: "Raleway", sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
